<form class="user-input-form">
  <div class="top-label">
    <h3>Olá viajante!</h3>
  </div>

  <mat-form-field class="item1" class="username-input" appearance="fill">
    <mat-label>Como você se chama?</mat-label>
    <input #usernameInput matInput placeholder="Nome" id="username" [value]="this.userProfile.name" (input)="this.userProfile.name = usernameInput.value" (focusout)="onUsernameLostFocus()">
  </mat-form-field>

  <div class="family-label">
    <h3>Quem viaja junto? Nos conte um pouco mais sobre sua família aventureira!</h3>
    <h4>Usamos essas informações para oferecer opções que mais se adequam ao perfil do seu grupo</h4>
  </div>

  <div class="number_set">
    <div class="number_set-item1">
      Quantos adultos?
    </div>
    <button matRipple matRippleColor="#f4f4f4" class="btn-transparent mat-elevation-z4 number_set-item2" (click)="onAddFamilyMemberAdult()" >+</button>
    <div class="number-input number_set-item3">{{this.userProfile.family_adults}}</div>
    <button matRipple matRippleColor="#f4f4f4" class="btn-transparent mat-elevation-z4 number_set-item4" (click)="onRemoveFamilyMemberAdult()">-</button>
  </div>

  <mat-divider class="divider"></mat-divider>

  <div class="number_set">
    <div class="number_set-item1">
      Adolescentes? (12 a 17 anos)
    </div>
    <button matRipple matRippleColor="#f4f4f4" class="btn-transparent mat-elevation-z4 number_set-item2" (click)="onAddFamilyMemberTeenager()">+</button>
    <div class="number-input number_set-item3">{{this.userProfile.family_teenagers}}</div>
    <button matRipple matRippleColor="#f4f4f4" class="btn-transparent mat-elevation-z4 number_set-item4" (click)="onRemoveFamilyMemberTeenager()">-</button>
  </div>

  <mat-divider class="divider"></mat-divider>

  <div class="number_set">
    <div class="number_set-item1">
      Crianças (3 a 12 anos) ?
    </div>
    <button matRipple matRippleColor="#f4f4f4" class="btn-transparent mat-elevation-z4 number_set-item2" (click)="onAddFamilyMemberChild()">+</button>
    <div class="number-input number_set-item3">{{this.userProfile.family_children}}</div>
    <button matRipple matRippleColor="#f4f4f4" class="btn-transparent mat-elevation-z4 number_set-item4" (click)="onRemoveFamilyMemberChild()">-</button>
  </div>

  <mat-divider class="divider"></mat-divider>

  <div class="number_set">
    <div class="number_set-item1">
      Crianças de colo (até 2 anos) ?
    </div>
    <button matRipple matRippleColor="#f4f4f4" class="btn-transparent mat-elevation-z4 number_set-item2" (click)="onAddFamilyMemberToodler()">+</button>
    <div class="number-input number_set-item3">{{this.userProfile.family_toodlers}}</div>
    <button matRipple matRippleColor="#f4f4f4" class="btn-transparent mat-elevation-z4 number_set-item4" (click)="onRemoveFamilyMemberToodler()">-</button>
  </div>

  <mat-divider class="divider"></mat-divider>

  <div class="number_set">
    <div class="number_set-item1">
      Quantos idosos?
    </div>
    <button matRipple matRippleColor="#f4f4f4" class="btn-transparent mat-elevation-z4 number_set-item2" (click)="onAddFamilyMemberElder()">+</button>
    <div class="number-input number_set-item3">{{this.userProfile.family_elders}}</div>
    <button matRipple matRippleColor="#f4f4f4" class="btn-transparent mat-elevation-z4 number_set-item4" (click)="onRemoveFamilyMemberElder()">-</button>
  </div>

</form>
